@model ItemViewModel
@{
    <div class="d-flex flex-column flex-lg-row gap-5">

        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
            <div class="card card-flush py-4">
                <div class="card-header">
                    <div class="card-title">
                        <h2>General</h2>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row mb-10">
                        <div class="col">
                            <label class="form-label fs-6 fw-semibold">Item Code:</label>
                            <input asp-for="@Model.ItemCode" type="text" class="form-control mb-2"
                                   placeholder="eg. GFOI23412" />
                            <div class="text-muted fs-7">Item code should be unique.</div>
                        </div>
                        <div class="col">
                            <label class="form-label">Categories</label>
                            <select asp-for="@Model.CategoryId"
                                    asp-items="@(new SelectList(Model.Categories, "Id", "CategoryName"))" class="form-select"
                                    data-control="select2" data-hide-search="false" data-placeholder="Select ..."
                                    data-allow-clear="true">
                                <option value="0" selected>Select...</option>
                            </select>
                            <div class="text-muted fs-7">Add Item to a category.</div>
                        </div>
                    </div>
                    <div class="mb-10 fv-row">
                        <label class="required form-label fs-6 fw-semibold">Item Name</label>
                        <input asp-for="@Model.ItemName" type="text" class="form-control mb-2" placeholder="" />
                        <div class="text-muted fs-7">Item name is required and recommended to be unique.</div>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="mb-10 fv-row">
                        <label class="form-label fs-6 fw-semibold">Description</label>
                        <textarea rows="3" asp-for="@Model.ItemDescription" type="" class="form-control mb-2" placeholder=""
                                  value=""></textarea>
                        <div class="text-muted fs-7">Set a description to the Item.</div>
                    </div>
                </div>
            </div>
            <div class="card card-flush py-4">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Inventory</h2>
                    </div>
                </div>
                <div class="card-body pt-0">

                    @await Html.PartialAsync("Inventory/_InventoryItemEditor", Model)

                </div>
            </div>
        </div>
        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-10">
            <div class="card card-flush py-4">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Photo</h2>
                    </div>
                </div>
                <div class="card-body text-center pt-0">
                    <div class="image-input image-input-outline" data-kt-image-input="true"
                         style="background-image: url('@Url.Content(Model.ItemPhotoPath) ')">
                        <div class="image-input-wrapper" src="defaultImage"
                             style="background-image: url('@Url.Content(Model.ItemPhotoPath)'); width:150px !important; height:150px !important;">
                        </div>
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-35px h-35px bg-body shadow"
                               data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change Photo">
                            <i class="ki-duotone ki-pencil fs-2x">
                                <i class="path1"></i>
                                <i class="path2"></i>
                            </i>
                            <input type="file" asp-for="Photo" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                        </label>
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-35px h-35px bg-body shadow"
                              data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel Photo">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </span>
                    </div>
                    <div class="text-muted fs-7">
                        Set the Item thumbnail image. Only *.png, *.jpg and *.jpeg image files are
                        accepted
                    </div>
                </div>
            </div>
            @{
                if (ViewBag.ActionType == "UPDATE")
                {
                    <div class="card card-flush py-4">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Item Status</h2>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <select asp-for="@Model.Status" asp-items="Model.ItemStatuses" class="form-select"
                                    data-control="select2" data-hide-search="false" data-placeholder="Select Option"
                                    data-allow-clear="true">
                                <option>Select Option...</option>
                            </select>
                        </div>
                    </div>

                }
            }
        </div>

    </div>
}