@model ModuleViewModel
@inject IDataControllerService _dataService
@{
    Layout = "_Layout";
    ViewData["Title"] = "Modules";
    ViewData["MainMenu"] = "User Management";
    ViewData["SubMenu"] = "";
    ViewData["Page"] = "Modules";
}


<div class="card col-md-10 mx-auto mb-6 mb-xl-9">
    <div class="card-header pt-5">
        <div class="card-title">
            <h2 class="d-flex align-items-center">
                System Modules
                <span class="text-gray-600 fs-6 ms-1">(@Model.Modules.Count)</span>
            </h2>
        </div>
        <div class="card-toolbar">
            @*<a asp-controller="Account" asp-action="Roles" class="btn btn-light-primary px-3" data-kt-roles-table-filter="delete_row"><i class="bx bx-arrow-back bx-sm"></i></a>*@
        </div>
    </div>
    @await Html.PartialAsync("_TableToolbar")
    <div class="card-body pt-0">
        <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="tbl_datatable_records">
            <thead>
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th class="">Module</th>
                    @*<th class="">Description</th>*@
                    <th class="">Assigned To</th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
                @{
                    if (Model.Modules.Count > 0)
                    {
                        foreach (var module in Model.Modules)
                        {
                            <tr>
                                <td>
                                    <span class="fw-bolder">@module.ModuleDisplay</span>
                                    <div class="text-gray-400"><small>@module.ModuleDescription</small></div>
                                </td>
                                @*<td>@module.ModuleDescription</td>*@
                                <td>

                                    @{
                                        async Task<bool> ShouldDisplayRole(ApplicationRole role)
                                        {
                                            return !(role.Name == ApplicationRoles.SuperAdministrator && !await _dataService.IsUserInRole(Model.UserLoggedIn.Id, ApplicationRoles.SuperAdministrator));
                                        }

                                        string[] colors = { "primary", "danger", "info", "success" };
                                        Random rand = new Random();
                                        int index = rand.Next(colors.Length);

                                        var roles = await _dataService.GetModuleRoles(module.Id);
                                        if (roles.Count > 0)
                                        {
                                            foreach (var role in roles)
                                            {
                                                if (await ShouldDisplayRole(role))
                                                {
                                                    index = rand.Next(colors.Length);
                                                    <a asp-controller="Account" asp-action="RoleModules" asp-route-id="@role.Id" class="badge badge-light-@colors[index] fs-7 m-1">@role.RoleDisplayText</a>
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="ol-md-4">
                                    <div class="card h-md-100">
                                        <div class="card-body d-flex flex-center">
                                            <span class="btn btn-clear d-flex flex-column flex-center">
                                                <img src="~/assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7">
                                                <span class="fw-bolder fs-3 text-gray-600 text-hover-primary">Add New Role</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/tableConfig.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            $('.types-select').select2({ width: 'resolve' });

            KTUtil.onDOMContentLoaded(function () {
                KTAppTableListing.init("tbl_datatable_records", "tbl_daterange_flatpickr",
                    "searchInput", "tbl_status", [], "Date", "Status",
                    "tbl_daterange_flatpickr_clear",
                    "datatable_export_buttons", "datatable_table_export_menu");
            });

        });
    </script>
}
