@model RoleModuleViewModel
@inject IDataControllerService _dataService
@{
    Layout = "_Layout";
    ViewData["Title"] = "Role Module";
    ViewData["MainMenu"] = "User Management";
    ViewData["SubMenu"] = "";
    ViewData["Page"] = "Role Modules";

    var users = await _dataService.GetUsersInRole(Model.Role.Name);
}

<!--begin::Row-->
<div class="d-flex flex-column flex-lg-row">
    <div class="flex-column flex-lg-row-auto w-100 w-lg-200px w-xl-300px mb-10">
        <div class="card card-flush">
            <div class="card-header">
                <div class="card-title">
                    <h2 class="mb-0">@Model.Role?.RoleDisplayText</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="d-flex flex-column text-gray-600">
                    <div class="d-flex align-items-center py-2">
                        <span class="bullet bg-primary me-3"></span>@Model.Role?.RoleDescription
                    </div>
                </div>
            </div>
            <div class="card-footer pt-0">
                @*<button type="button" class="btn btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Add Module</button>*@
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_Module_Modal">Add Module</button>
            </div>
        </div>
    </div>
    <!--end::Sidebar-->
    <!--begin::Content-->
    <div class="flex-lg-row-fluid ms-lg-10">
        <div class="card mb-6 mb-xl-9">
            <div class="card-header pt-5">
                <div class="card-title">
                    <h2 class="d-flex align-items-center">
                        Modules Assigned
                        <span class="text-gray-600 fs-6 ms-1">(@Model.RoleModules?.Count)</span>
                        @* <span class="text-gray-600 fs-6 ms-1">(@users.Count)</span> *@
                    </h2>
                </div>
                <div class="card-toolbar">
                    <a asp-controller="Account" asp-action="Roles" class="btn btn-light-primary px-3">
                        <i class="ki-duotone ki-arrow-left fs-2x">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </a>
                </div>
            </div>
            <!--begin::Card header-->
            @await Html.PartialAsync("_TableToolbar")
            <!--end::Card header-->
            <div class="card-body pt-0">
                <table class="table align-middle table-row-dashed fs-6 gy-4 mb-0" id="tbl_datatable_records">
                    <thead>
                        <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                            <th class="">Module</th>
                            <th class="">Description</th>
                            <th class="text-end min-w-100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="fw-bold text-gray-600">
                        @{
                            if (Model.RoleModules.Any())
                            {
                                int i = 0;
                                foreach (var roleModule in Model.RoleModules)
                                {
                                    i++;
                                    var checkName = $"roleModules{i}";
                                    <tr>
                                        <!--begin::Checkbox-->
                                        <!--<td>
                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                <input id="@checkName" class="form-check-input" type="checkbox" value="@roleModule.Id" />
                                            </div>
                                        </td> -->
                                        <!--end::Checkbox-->
                                        <td>@roleModule.Module.ModuleDisplay</td>
                                        <td>@roleModule.Module.ModuleDescription</td>
                                        <td class="text-end">
                                            <button class="btn btn-light-danger px-3" type="submit" value="Delete" form="actionForm_@roleModule.Id" onclick="return swalConfirm('@roleModule.Id', this)">
                                                <i class="ki-duotone ki-trash fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                </i>
                                            </button>
                                            <form id="actionForm_@roleModule.Id" asp-controller="Account" asp-action="DeleteRoleModule" asp-route-id="@roleModule.Id" asp-route-rid="@Model.Role?.Id" method="post">
                                                @*<input type="hidden" asp-for="RoleId" value="@Model.Role.Id" />
                                    <input type="hidden" asp-for="RoleModuleId" value="@roleModule.Id" />*@
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            // else
                            // {
                            //     <tr>
                            //         <td>
                            //             <div class="ol-md-4">
                            //                 <div class="card h-md-100">
                            //                     <div class="card-body d-flex flex-center">
                            //                         <span class="btn btn-clear d-flex flex-column flex-center">
                            //                             <img src="~/assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7">
                            //                             <span class="fw-bolder fs-3 text-gray-600 text-hover-primary">Add New Role</span>
                            //                         </span>
                            //                     </div>
                            //                 </div>
                            //             </div>
                            //         </td>
                            //     </tr>
                            // }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" id="add_Module_Modal">
    <div class="modal-dialog">
        <form method="post" asp-controller="Account" asp-action="RoleModules">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Module</h5>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-2x">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col fv-row">
                            <label class="fs-5 fw-bolder form-label mb-2">
                                <span class="">Role</span>
                            </label>
                            <input type="hidden" asp-for="RoleId" value="@Model.Role?.Id" />
                            <input class="form-control form-control-solid " placeholder="" readonly="readonly" value="@Model.Role?.RoleDisplayText" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col fv-row">
                            <label class="fs-5 fw-bolder form-label mb-2">Module</label>
                            <select asp-for="ModuleId" asp-items="@(new SelectList(Model.Modules,"Id","ModuleDisplay"))" class="form-select" data-control="select2" data-dropdown-parent="#add_Module_Modal" data-placeholder="Select a Module" data-allow-clear="true">
                                <option value="">Select Module...</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--end::Row-->
@section Scripts {
    <script src="~/assets/js/tableConfig.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            $('.types-select').select2({ width: 'resolve' });

            KTUtil.onDOMContentLoaded(function () {
                KTAppTableListing.init("tbl_datatable_records", "tbl_daterange_flatpickr",
                    "searchInput", "tbl_status", [], "Date", "Status",
                    "tbl_daterange_flatpickr_clear",
                    "datatable_export_buttons", "datatable_table_export_menu");
            });

            //$('#tableRecords').DataTable();
            //$('#datatable_records').DataTable({
            //    "responsive": true,
            //    "autoWidth": false,
            //});
        });
    </script>
}
