@model StockViewModel
@inject IDataControllerService _dataService
@{
    ViewData["Title"] = "Stock Replenishment";
    ViewData["MainMenu"] = "Stock Management";
    ViewData["Page"] = "Stock Replenishment";



}

<div class="d-flex flex-column flex-lg-row">
    <div class="w-100 flex-lg-row-auto w-lg-450px mb-7 me-7 me-lg-10">
        <div class="card card-flush card-p-1 bg-transparent border-0">
            <div class="card-header">
                <div class="card-toolbar">
                    @{
                        if (Model.ModulePermission.Create)
                        {
                            <a asp-controller="Facility" asp-action="CreateItem" class="btn btn-primary mx-3">
                                <i class="ki-duotone ki-plus fs-2x">
                                </i>
                                <span class="">Add New Item</span>
                            </a>
                        }
                    }
                    <a asp-controller="Stock" asp-action="Stock" class="btn btn-primary px-3 float-end">
                        <i class="ki-duotone ki-arrow-left fs-2x">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </a>
                </div>
            </div>
            <div class="card-body">

                <div class="d-flex align-items-center position-relative mb-10 w-100">
                    <i class="ki-duotone ki-magnifier fs-2x position-absolute ms-4 text-primary">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <input id="searchProduct" onkeyup="SearchProducts();" type="text" class="form-control fs-4 ps-12 w-100" autocomplete="off" placeholder="Search Items">
                </div>

                <div id="searchResultContainer" class="mt-7">
                    @await Html.PartialAsync("Inventory/_FormStockItemList", Model.Items)
                </div>

            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
        <div class="card card-flush bg-body">
            <div class="card-header pt-5">
                <h3 class="card-title fw-bold text-gray-800 fs-2qx">Items</h3>
                <div class="card-toolbar">
                    <a href="javascript:void(0)" onclick="clearCartPartial();" class="btn btn-light-danger fs-4 fw-bold py-4">Clear All</a>
                </div>
            </div>
            <div class="separator separator-dotted border-primary my-5"></div>
            <div class="card-body pt-0">
                <div id="divCartItemsDisplay">
                    @await Html.PartialAsync("Inventory/_StockItemsCart", Model.CartItems)
                </div>
                <div class="separator separator-dotted border-primary my-5"></div>
                <form asp-controller="Stock" asp-action="Edit" asp-route-id="@Model.Id" method="post" class="form">
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-6">
                                <label class="fs-4 fw-bold mb-2">Date Received</label>
                                <input asp-for="@Model.StockDate" class="form-control form-control-solid rounded-2 border border-1 border-dashed border-primary" placeholder="Pick date">
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 fv-row">
                        <label class="fs-4 fw-bold mb-2">Notes</label>
                        <textarea rows="3" asp-for="@Model.Notes" type="" class="form-control mb-2" placeholder="" value=""></textarea>
                        <div class="text-muted fs-7"></div>
                    </div>
                    <div class="m-0">
                        <button type="submit" class="btn btn-primary fs-1 w-100 py-4">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- modal placeholders-->
<div id="modal-add" tabindex="-1" class=" modal fade">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Product</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div id='modal-add-content'></div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.types-select').select2({ width: 'resolve' });

            $("#StockDate").flatpickr({
                altInput: true,
                altFormat: "d-M-Y",
                dateFormat: "d-M-Y",
                weekNumbers: true
            });
        });

        //OpenItemAddModal
        function OpenItemAddModal(id) {
            var data = { id: id };
            $.ajax(
                {
                    type: 'GET',
                    url: "@Url.Action("GetItemAddModal","Stock")",
                    contentType: 'application/json; charset=utf=8',
                    data: data,
                    success: function (result) {
                        $('#modal-add-content').html(result);
                        $('#modal-add').modal('show');
                        $('.types-select').select2({
                            width: 'resolve',
                            dropdownParent: $("#modal-add")
                        });
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
        }
        function OpenQuantityUpdateModal(id, qty) {
            var data = { id: id, qty: qty };
            $.ajax(
                {
                    type: 'GET',
                    url: "@Url.Action("GetUpdateQuantityModal","Stock")",
                    contentType: 'application/json; charset=utf=8',
                    data: data,
                    success: function (result) {
                        $('#modal-add-content').html(result);
                        $('#modal-add').modal('show');
                        $('.types-select').select2({
                            width: 'resolve',
                            dropdownParent: $("#modal-add")
                        });
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
        }

        function SearchProducts(page) {
            var searchTerm = $("#searchProduct").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("Search", "Stock")",
                data: { search: searchTerm, page: page },
                success: function (result) {
                    $("#searchResultContainer").html(result);
                }
            });
        }

        // Handle pagination
        $('#searchResultContainer').on('click', '.page-link', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var query = $('#searchInput').val();

            $.ajax({
                url: '/Stock/Search',
                type: 'GET',
                data: { query: query, page: page },
                success: function (result) {
                    $('#searchResultContainer').html(result);
                }
            });
        });
                
        function addItemToCartForm() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddItemPartial", "Stock")",
                data: {
                    ItemId: $("#ItemId").val(),
                    Quantity: $("#Quantity").val(),
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (result) {
                    $("#divCartItemsDisplay").html(result);
                },
                error: function () {
                    alert("An error occurred.");
                }
            });
        }

        function updateQuantityPartial(id, qty) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateQuantityPartial", "Stock")",
                data: { id: id, qty: qty },
                success: function (data) {
                    $("#divCartItemsDisplay").html(data);
                }
            });
        }

        function removeFromCartPartial(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("RemovePartial", "Stock")",
                data: { id: id },
                success: function (result) {
                    $("#divCartItemsDisplay").html(result);
                }
            });
        }

        function increaseQuantityPartial(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("IncreasePartial", "Stock")",
                data: { id: id },
                success: function (result) {
                    $("#divCartItemsDisplay").html(result);
                }
            });
        }

        function decreaseQuantityPartial(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DecreasePartial", "Stock")",
                data: { id: id },
                success: function (result) {
                    $("#divCartItemsDisplay").html(result);
                }
            });
        }

        function clearCartPartial() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ClearPartial", "Stock")",
                // data: { id: id },
                success: function (data) {
                    $("#divCartItemsDisplay").html(data);
                }
            });
        }

    </script>
}
