@using DocumentFormat.OpenXml.Wordprocessing
@using salesngin
@using salesngin.Enums
@using salesngin.Extensions
@using salesngin.Models
@using salesngin.ViewModels
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@inject IDataControllerService _dataService
@inject IConfiguration _configuration
@{
    var company = await _dataService.GetCompany();
    ApplicationUser loggedInUser = new();
    if (_signInManager.IsSignedIn(User))
    {
        loggedInUser = await _userManager.GetUserAsync(User);
    }

    var iconColor = "";
    string applicationShortName = _configuration["ApplicationShortName"];
}

<div id="kt_app_sidebar" class="app-sidebar  flex-column " data-kt-drawer="true" data-kt-drawer-name="app-sidebar"
    data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px"
    data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">


    <!--begin::Logo-->
    <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
        <!--begin::Logo image-->
        <a asp-controller="Home" asp-action="Index">
            @*  <img alt="Logo" src="assets/media/logos/default-dark.svg" class="h-25px app-sidebar-logo-default" />
            <img alt="Logo" src="assets/media/logos/default-small.svg" class="h-20px app-sidebar-logo-minimize" /> *@
            <img alt="Logo" src="@Url.Content(company.CompanyLogoPath)" class="h-45px app-sidebar-logo-default" />
            <img alt="Logo" src="@Url.Content(company.CompanyLogoPath)" class="h-40px app-sidebar-logo-minimize" />
            <span class="mx-3 ml-5 text-white fs-5">@applicationShortName</span>
        </a>
        <!--end::Logo image-->
        <!--begin::Sidebar toggle-->
        <!--begin::Minimized sidebar setup:
            if (isset($_COOKIE["sidebar_minimize_state"]) && $_COOKIE["sidebar_minimize_state"] === "on") {
                1. "src/js/layout/sidebar.js" adds "sidebar_minimize_state" cookie value to save the sidebar minimize state.
                2. Set data-kt-app-sidebar-minimize="on" attribute for body tag.
                3. Set data-kt-toggle-state="active" attribute to the toggle element with "kt_app_sidebar_toggle" id.
                4. Add "active" class to to sidebar toggle element with "kt_app_sidebar_toggle" id.
            }
        -->
        <div id="kt_app_sidebar_toggle"
            class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 start-100 translate-middle rotate "
            data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
            data-kt-toggle-name="app-sidebar-minimize">

            <i class="ki-duotone ki-black-left-line fs-2x rotate-180">
                <span class="path1"></span><span class="path2"></span>
            </i>
        </div>
        <!--end::Sidebar toggle-->
    </div>
    <!--end::Logo-->
    <!--begin::sidebar menu-->
    <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
        <!--begin::Menu wrapper-->
        <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
            <!--begin::Scroll wrapper-->
            <div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3 " data-kt-scroll="true"
                data-kt-scroll-activate="true" data-kt-scroll-height="auto"
                data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
                data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px"
                data-kt-scroll-save-state="true">
                <!--begin::Menu-->
                <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu"
                    data-kt-menu="true" data-kt-menu-expand="false">

                    <!--begin:Menu item Dashboard-->
                    <div class="menu-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-dismiss="click"
                        title="Dashboard">
                        <a asp-controller="Account" asp-action="Index"
                            class="menu-link @Html.IsActive(new string[] { "Account" }, new string[] { "Index" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-element-11 fs-2 @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                            </span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </div>
                    <!--end:Menu item-->
                    <div class="separator separator-dashed border-primary my-3"></div>
                    @if (await _dataService.GetModuleActionPermission(ConstantModules.Orders_Module, loggedInUser.Id, ConstantPermissions.Create))
                    {
                        <!--begin:Menu item-->
                        <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Create Order">
                            <a asp-controller="Order" asp-action="CreateOrder"
                                class="menu-link @Html.IsActive(new string[] { "Order" }, new string[] { "CreateOrder", "EditOrder", }, "active")">
                                <span class="menu-icon">
                                    <i class="ki-duotone ki-delivery-3 fs-2x @iconColor">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                                <span class="menu-title"> POS</span>
                            </a>
                        </div>
                        <!--end:Menu item-->
                    }

                    @if (await _dataService.GetModuleActionPermission(ConstantModules.Orders_Module, loggedInUser.Id, ConstantPermissions.Read))
                    {
                        <!--begin:Menu item-->
                        <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Orders">
                            <a asp-controller="Order" asp-action="Orders"
                                class="menu-link @Html.IsActive(new string[] { "Order" }, new string[] { "Orders", "Details" }, "active")">
                                <span class="menu-icon">
                                    <i class="ki-duotone ki-parcel fs-3 @iconColor">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                                </span>
                                <span class="menu-title"> Orders</span>
                            </a>
                        </div>
                        <!--end:Menu item-->
                    }

                    <!--begin:Menu item-->
                    <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Items">
                        <a asp-controller="Items" asp-action="Items"
                            class="menu-link @Html.IsActive(new string[] { "Items" }, new string[] { "Items" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-tablet-text-down fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                            </span>
                            <span class="menu-title">Items</span>
                        </a>
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Inventory">
                        <a asp-controller="Items" asp-action="Inventory"
                            class="menu-link @Html.IsActive(new string[] { "Items" }, new string[] { "Inventory" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-bank fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                            <span class="menu-title">Inventory</span>
                        </a>
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    @* <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Items">
                        <a asp-controller="Items" asp-action="FixedItems"
                            class="menu-link @Html.IsActive(new string[] { "Facility" }, new string[] { "Forms" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-tablet-text-down fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                            </span>
                            <span class="menu-title">Fixed Items</span>
                        </a>
                    </div> *@
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    @* <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Items">
                        <a asp-controller="Items" asp-action="OperationalItems"
                            class="menu-link @Html.IsActive(new string[] { "Facility" }, new string[] { "Forms" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-tablet-text-down fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                            </span>
                            <span class="menu-title">Operational Items</span>
                        </a>
                    </div> *@
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Item Requests">
                        <a asp-controller="Request" asp-action="Requests"
                            class="menu-link @Html.IsActive(new string[] { "Facility" }, new string[] { "Forms" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-delivery-3 fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                            </span>
                            <span class="menu-title"> Purchases</span>
                        </a>
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    @* <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Item Requests">
                        <a asp-controller="Facility" asp-action="Requests"
                            class="menu-link @Html.IsActive(new string[] { "Facility" }, new string[] { "Forms" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-delivery-3 fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                            </span>
                            <span class="menu-title"> Expired Items</span>
                        </a>
                    </div> *@
                    <!--end:Menu item-->


                    <!--begin:Menu item-->
                    <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Stock Management">
                        <a asp-controller="Stock" asp-action="Stock"
                            class="menu-link @Html.IsActive(new string[] { "Facility" }, new string[] { "Forms" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-lots-shopping fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                    <span class="path6"></span>
                                    <span class="path7"></span>
                                    <span class="path8"></span>
                                </i>
                            </span>
                            <span class="menu-title">Stock Management</span>
                        </a>
                    </div>
                    <!--end:Menu item-->

                    <!--begin:Menu item-->
                    <div class="menu-item " data-bs-toggle="tooltip" data-bs-placement="right" title="Reports">
                        <a asp-controller="Facility" asp-action="Reports"
                            class="menu-link @Html.IsActive(new string[] { "Facility" }, new string[] { "Forms" }, "active")">
                            <span class="menu-icon">
                                <i class="ki-duotone ki-some-files fs-2x @iconColor">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                            <span class="menu-title">Reports</span>
                        </a>
                    </div>

                    @if (await _dataService.GetModuleActionPermission(ConstantModules.Reporting_Module,
                                        loggedInUser.Id, ConstantPermissions.Read))
                    {

                        var isActive = @Html.IsActive(
                        new string[]
                        {
                                        "Report",
                        },
                        new string[]
                        {
                                        "Sales", "Payments", "Refunds",
                        },
                        "here hover show"
                        );

                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <span class="menu-link">
                                <span class="menu-icon">
                                    <i class="ki-duotone ki-some-files fs-2x @iconColor">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </span>
                                <span class="menu-title">Reports</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <div class="menu-sub menu-sub-accordion">
                                <div class="menu-item">
                                    <a class="menu-link" asp-controller="Report" asp-action="Sales"><span
                                            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                            class="menu-title">Sales</span></a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link " asp-controller="Report" asp-action="Payments"><span
                                            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                            class="menu-title">Payments</span></a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link " asp-controller="Report" asp-action="Refunds"><span
                                            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                            class="menu-title">Refunds</span></a>
                                </div>
                            </div>
                        </div>

                    }

                    @if (await _dataService.GetModuleActionPermission(ConstantModules.Reporting_Module,
                                        loggedInUser.Id, ConstantPermissions.Read))
                    {

                        var isUMActive = @Html.IsActive(
                        new string[] { "Account", },
                        new string[] { "Roles", "Modules", "Users", "Create", "Profile", "RoleUsers", "RoleModules" },
                        "here hover show"
                        );

                        var systemsRolesIsActive = Html.IsActive(new string[] { "Account" }, new string[] { "Roles" },
                        "active");
                        var systemsModulesIsActive = Html.IsActive(new string[] { "Account" }, new string[] { "Modules",
                                        "RoleModules" }, "active");
                        var systemsUsersIsActive = Html.IsActive(new string[] { "Account" }, new string[] { "Users",
                                        "Create", "Profile", "RoleUsers" },
                        "active");

                        <div class="separator separator-dashed border-primary my-3"></div>

                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion @isUMActive">
                            <span class="menu-link">
                                <span class="menu-icon">
                                    <i class="ki-duotone ki-profile-user fs-2 @iconColor">
                                        <i class="path1"></i>
                                        <i class="path2"></i>
                                        <i class="path3"></i>
                                        <i class="path4"></i>
                                    </i>
                                </span>
                                <span class="menu-title">User Management</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <div class="menu-sub menu-sub-accordion">
                                <div class="menu-item">
                                    <a class="menu-link @systemsRolesIsActive" asp-controller="Account"
                                        asp-action="Roles"><span class="menu-bullet"><span
                                                class="bullet bullet-dot"></span></span><span class="menu-title">System
                                            Roles</span></a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link @systemsModulesIsActive" asp-controller="Account"
                                        asp-action="Modules"><span class="menu-bullet"><span
                                                class="bullet bullet-dot"></span></span><span
                                            class="menu-title">Modules</span></a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link @systemsUsersIsActive" asp-controller="Account"
                                        asp-action="Users"><span class="menu-bullet"><span
                                                class="bullet bullet-dot"></span></span><span
                                            class="menu-title">Users</span></a>
                                </div>
                            </div>
                        </div>
                    }

                    @if (await _dataService.GetModuleActionPermission(ConstantModules.System_Settings,
                                        loggedInUser.Id, ConstantPermissions.Read))
                    {
                        var isActive = @Html.IsActive(
                        new string[]
                        {
                                        "Setting", "Category", "Setting"
                        },
                        new string[]
                        {
                                        "Settings", "Category", "Units", "Probabilities",
                                        "RoleModules", "Modules", "Users", "Create", "Profile", "Edit"
                        },
                        "here hover show"
                        );

                        var isSettingsActive = @Html.IsActive(new string[] { "Setting" }, new string[] { "Settings",
                                        "Locations" }, "active ");
                        var isCategoryActive = @Html.IsActive(new string[] { "Category" }, new string[] { "Category"
                                        }, "active ");
                        var isUnitActive = @Html.IsActive(new string[] { "Setting" }, new string[] { "Units" }, "active ");

                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion @isActive">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-icon">
                                    <i class="ki-duotone ki-wrench fs-2 @iconColor">
                                        <i class="path1"></i>
                                        <i class="path2"></i>
                                    </i>
                                </span>
                                <span class="menu-title">Settings</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isSettingsActive" asp-controller="Setting"
                                        asp-action="Settings"><span class="menu-bullet"><span
                                                class="bullet bullet-dot"></span></span><span
                                            class="menu-title">General</span></a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isCategoryActive" asp-controller="Category"
                                        asp-action="Category"><span class="menu-bullet"><span
                                                class="bullet bullet-dot"></span></span><span
                                            class="menu-title">Categories</span></a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                @* <div class="menu-item">
                                <a class="menu-link @isDepartmentActive" asp-controller="Setting"
                                    asp-action="Departments"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Departments</span></a>
                            </div> *@
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                @* <div class="menu-item">
                                <a class="menu-link @isSectionActive" asp-controller="Setting"
                                    asp-action="Sections"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Sections</span></a>
                            </div> *@
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <a class="menu-link @isUnitActive" asp-controller="Setting" asp-action="Units">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">Units</span></a>
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                @* <div class="menu-item">
                                <a class="menu-link @isSettingsActive" asp-controller="Setting" asp-action="Locations">
                                <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Locations</span>
                                </a>
                            </div> *@
                                <!--end:Menu item-->
                                @* 
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isProbabilityActive" asp-controller="Setting" asp-action="Probabilities"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Probability</span></a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item -->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isSeverityActive" asp-controller="Setting" asp-action="Severities"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Severity</span></a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isOutcomeActive" asp-controller="Setting" asp-action="Outcomes"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Outcome</span></a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isOutcomeGroupsActive" asp-controller="Setting" asp-action="OutcomeGroups"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Outcome Groups</span></a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link @isMatrixActive" asp-controller="Setting" asp-action="RiskMatrix"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Risk Matrix</span></a>
                                    <!--end:Menu link-->
                                </div>
                                 *@
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                    }


                </div>
                <!--end::Menu-->
            </div>
            <!--end::Scroll wrapper-->
        </div>
        <!--end::Menu wrapper-->
    </div>
    <!--end::sidebar menu-->
    <!--begin::Footer-->
    <div class="app-sidebar-footer flex-column-auto pt-2 pb-6 px-6" id="kt_app_sidebar_footer">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit"
                class="btn btn-flex flex-center btn-custom btn-primary overflow-hidden text-nowrap px-0 h-40px w-100"
                data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="Sign Out">
                <span class="btn-label">Sign Out</span>
                <span class="menu-icon mx-3">
                    <i class="ki-duotone ki-exit-right fs-2x">
                        <i class="path1"></i>
                        <i class="path2"></i>
                    </i>
                </span>
            </button>
        </form>
    </div>
    <!--end::Footer-->
</div>


<script>
    @*
        const boxes = document.querySelectorAll('.menu-link');
        var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';

        for (i = 3; i <= boxes.length; i++) {

        let b = boxes[i];

        if (b.getAttribute('href') === "/@ViewData["Title"].ToString()") {
        boxes[i].classList.add("active")
        }

        else if (b.getAttribute('href') === `/${controllerName}/@ViewData["Title"]`) {
        boxes[i].classList.add("active")
        }
        } *@



</script>